.flex_Article {
    display: flex;
    margin: 2%;
}

.ArticleActu {
    width: 500%;
    margin: 2%;
    border: 1px solid;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #ffffff;
}  

.textActu {
    margin: 2%;
    margin-top: 2%;
    font-size: 1.2em;
    line-height: 22px;
    text-indent: 0;
}

.titre {
    text-align: center;
    text-decoration: underline;
    color: #FE5F00;
}