/* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: rgb(95, 3, 95);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(105, 115, 255);
  }
  
  /* selected link */
  a:active {
    color: blue;
  }