.Donations {
    display: flex;
    padding-top: 2%;
    flex-direction: column;
    // font-size: 1.5em;
}  

@media screen and (max-width: 1138px) {

    .flex_NosActivites {
    flex-direction: column;
    }
}